* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    color: white;
}

.white {
    color: white;
}

/* fine common */

/* header */
header {
    height: 90px;
    width: 100%;
    background-color: #2c3e50;
}

.container.my_header {
    width: 100%;
}

.navbar.ms_navbar {
    margin-bottom: 0;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 0;
    padding: 20px 0;
    letter-spacing: 1px;
}

.navbar.ms_navbar a {
    color: white;
    margin: 0 10px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99;
}

.ms-auto.nav_right {
    position: absolute;
    right: 0;
}
/* fine header */

/* JUMBOTRON */
#jumbotron {
    width: 100%;
    background-color: lightgreen;
    height: 100%;
}

.ms_star i.fa-star {
    display: inline-block;
    height: 20px;
    width: 10%;
    font-size: 30px;
    line-height: 4px;
    vertical-align: middle;
}

/* .ms_star::before,
.ms_star::after {
    height: 5px;
    width: 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
} */

.star {
    width: 100%;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}

.line {
    height: 5px;
    width: 100px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.line.black {
    background-color: black;
}

.text-graphic {
    width: 100%;
    height: 50px;
}
/* FINE JUMBOTRON */
/* main */
main {
    height: 100%;
    width: 100%;
}

.ms_portfolio_item {
    width: 100%;
    background-color: white;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#about {
    width: 100%;
    background-color: lightgreen;
    height: 100%;
}

#contact_me {
    width: 100%;
    height: 100%;
}

.margin_btn {
    top: 10px;
    position: relative;
    bottom: 30px;
}

.download .green_btn {
    background-color: lightgreen;
    border:1px solid white;
}

.box-img {
    width: 100%;
    position: relative;
}

.box-play {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.play {
    font-size: 50px;
}


/* fine main */

/* footer */
footer {
    height: 200px;
    width: 100%;
}

.container_footer {
    width: 100%;
    height: 100%;
    background-color: #2c3e50;
}

.footer_bottom {
    width: 100%;
    height: 90px;
    background-color: #1d2c3b;
}

.text_green {
    color: lightgreen;
}

.margin_footer {
    position: relative;
    top: 25%;
}

.circle_icon {
    border-radius: 100%;
    border: 1px solid white;
}

.my_footer {
    position: relative;
    top: 10%;
}

.top_footer {
    margin: 0 10%;
}
/* fine footer */

/* HOVER img */
.box-img {
    /* display: inline; */
}

.box-play,
.overlay {
    display: none;
}

.img:hover .box-img {
    display: inline;
}

.box-img:hover .box-play {
    display: inline;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.box-img:hover .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

/* fine HOVER img */